{% extends 'base.html.twig' %}

{% block title %} {{ controller_name }}!{% endblock %}

{% block metapage %}

    <meta name="description" content="{{ page_param.description }}" />
    {% if(page_param.twitterAcount != '')  %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@HelloArtisan" />
    <meta name="twitter:title" content="{{ page_param.title }}" />
    <meta name="twitter:description" content="{{ page_param.description }}" />
    <meta name="twitter:image" content="{{ asset('/images/articles' ~  page_param.imagePage) }}" />
    {%  endif %}
    <meta property="og:site_name" content="HelloArtisan" />
    <meta property="og:title" content="{{ page_param.title }}" />
    <meta property="og:description" content="{{ page_param.description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ url('' ~ page_param.uri)  }}" />
    <meta property="og:image" content="{{ asset('/images/articles' ~  page_param.imagePage) }}" />
    {%  if( page_param.isCanonical ) %}
        <link rel="canonical" href="{{ url('' ~ page_param.uri) }}">
    {% endif %}
    {%  if( page_param.isAmp ) %}
        <link rel="amphtml" href={{ url('' ~ page_param.uri)  ~"/amp" }}>
    {% endif %}

    {%  if(page_param.isNoindex) %}
        <meta name="robots" content="noindex">
    {%  endif %}

{% endblock %}


{% block body %}

    <article class="container">
        <header>
            <h1>Trouver votre GeoCode</h1>
        </header>
        <section>
            <div class="container">
                <div class="row find_code m-auto">
                    <div class="col-12 col-md-7 form-group row d-inline m-auto">
                        <label class="col-4" for="address">Addresse</label>
                        <input type="text" id="address" class="form-control col-7 d-inline"
                               placeholder="Saisir votre addresse">
                    </div>
                    <div class="col-7 col-md-2 m-auto">
                        <button class="col-9 btn-primary" id="find-geo"><span
                                    class="fa fa-search">&nbsp;&nbsp;Go</span>
                        </button>
                    </div>
                </div>
            </div>
        </section>

    </article>
{% endblock %}
